# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
pandas_gbq


# API
gcsfs
google-cloud-storage
google-cloud-bigquery
s3fs
uvicorn
fastapi

# utilities
six>=1.14
joblib
memoized-property
