h1#open-positions-in-germany {
    font-size: 64px;
    font-family: "Source Sans Pro", sans-serif;
    color: rgb(0, 66, 128);
    padding-top: 0px;
    padding-bottom: 80px;
    text-align: center
}

div#map_div {
    display: flex;
    justify-content: center;
}

header.css-18ni7ap.e13qjvis2 {
    display: none
}

div#block-container.css-z5fcl4 {
    padding: 3rem 1rem 10rem;
}
